<div id="coral_talk_3368393872417399"></div>
<script src="https://coraltalktest.herokuapp.com/embed.js" async onload="
  Coral.Talk.render(document.getElementById('coral_talk_3368393872417399'), {
    talk: 'https://coraltalktest.herokuapp.com/'
  });
"></script>